

{% extends 'base.html' %}

{% block content %}
<div class=" container pk-5">
{% if perms.auth.view_user %}
<br><h3 class="text-center"> All Users</h3><br>





<div class="row px-5">

{% include 'dashboard/sidebar.html' %}

<div class="col-md-9">
<a href="{% url 'add_user' %}" class="btn btn-dark text-light float-right mb-2">Add New User</a>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Active</th>
      <th scope="col">Staff</th>
      <th scope="col">Superuser</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <td >{{forloop.counter}}</td>
      <td>{{user.first_name}} {{user.last_name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{% if user.is_active %}<i class="fa fa-check text-success" ></i>{% else %} <i class="fa fa-times text-danger" ></i> {% endif %} </td>
      <td>{% if user.is_staff %}<i class="fa fa-check text-success" ></i>{% else %} <i class="fa fa-times text-danger" ></i> {% endif %} </td>
      <td>{% if user.is_superuser %}<i class="fa fa-check text-success" ></i>{% else %} <i class="fa fa-times text-danger" ></i> {% endif %} </td>
      <td>
      <a  href="{% url 'edit_user' user.id %}"><i class="fa-solid fa-pen-to-square" style="color: #FFD43B;"></i></a>&nbsp;
        <a  href="{% url 'delete_user' user.id %}"><i class="fa-solid fa-trash" style="color: #ac3b15;"></i></a>
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
{% else %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Permission Denied!</h4>
  <p>You do not have permission to view users.</p>
{% endif %}
</div>
</div>
</div>

{% endblock %}